.btn {
  background-color: #4e97c2;

}

li {
  margin: 3px !important;
}

button {
  background-color: #4e97c2 !important;
  width: max-content !important;
  padding: 8px 10px !important;
}

.navbar {
  padding: 0px !important;
  margin: 0px;
}
