<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <button class="btn btn-info btn-floating" style="background-color: #4e97c2;">
        <i class="fas fa-th"></i>
    </button>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto" style="margin: -6px !important;
            margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;">
            <li class="nav-item active" style="margin: 0px;">
                <button class="btn btn-info btn-floating" style="background-color: #4e97c2;">
                    <i class="fas fa-home"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-info btn-floating" style="background-color: #4e97c2;">
                    <i class="fas fa-columns"> Boards</i>
                </button>
            </li>
            <li class="nav-item">

                <input type="search" class="form-control rounded " placeholder="Search" aria-label="Jump to.."
                    aria-describedby="search-addon" />
            </li>
        </ul>

        <div class="d-flex justify-content-"><img
                src="https://a.trellocdn.com/prgb/dist/images/header-logo-spirit-loading.87e1af770a49ce8e84e3.gif"
                alt="" style="height: 15px !important;

        position: relative;
        left: 18vw;
        cursor:pointer"></div>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons" style="width: min-content!important;">
            <li class="nav-item">
                <button class="btn btn-info btn-floating">
                    <i class="fas fa-plus-circle"></i>
                </button>

            </li>
            <li class="nav-item">
                <button class="btn btn-info btn-floating">
                    <i class="fas fa-info-circle"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-info btn-floating">
                    <i class="fas fa-bell"></i>
                </button>
            </li>
            <li class="nav-item">

                <button class="btn btn-info btn-floating">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href="#">Activity</a>
                            <a class="dropdown-item" href="#">Cards</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Help</a>
                            <a class="dropdown-item" href="#">Short cuts</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </div>
                </button>

            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->