.board {
  background-color: #3f729b;
  height: 7vw;
  width: 13vw;
  margin: 1vw;
  border-radius: 5px;
  cursor: pointer;
}

h4 {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.board:hover {
  background-color: #376992;
}

.createboard {
  background-color: #e4e4e4;
  height: 7vw;
  width: 13vw;
  margin: 1vw;
  border-radius: 5px;
  cursor: pointer;
}

