<body>
    <div>
        <app-header></app-header>
    </div>
    
    <div class="container" style="display: flex;flex-wrap: wrap;">
        <div class="board" *ngFor="let name of boardName">
            <h4> {{name}} </h4>
        </div>
        <div class="createboard" (click)="basicModal.show()"
            style="display: flex;justify-content: center;align-items: center;">
            <p>Create new board <i class="fas fa-plus"></i></p>
        </div>
        <div>
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="form-outline">
                                <input type="text" id="form1" class="form-control" placeholder="Add Board Name"
                                    (input)="boardNamecreate($event)" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="primary" class="relative waves-light"
                                (click)="createBoard()" mdbWavesEffect>Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>